# Note: Make sure you have a Redshift account that is set up so these fields are easy to complete.
# These will all be gathered from account information or created by you.

# Database Authentication Method
REDSHIFT_TEST_HOST=
REDSHIFT_TEST_PORT=
REDSHIFT_TEST_DBNAME=
REDSHIFT_TEST_USER=
REDSHIFT_TEST_PASS=
REDSHIFT_TEST_REGION=

# IAM Methods
REDSHIFT_TEST_CLUSTER_ID=

# IAM User Authentication Method
REDSHIFT_TEST_IAM_USER_PROFILE=
REDSHIFT_TEST_IAM_USER_ACCESS_KEY_ID=
REDSHIFT_TEST_IAM_USER_SECRET_ACCESS_KEY=

# IAM Role Authentication Method
REDSHIFT_TEST_IAM_ROLE_PROFILE=

# Database users for testing
DBT_TEST_USER_1=dbt_test_user_1
DBT_TEST_USER_2=dbt_test_user_2
DBT_TEST_USER_3=dbt_test_user_3
